<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
        <img src="assets/logo.svg" alt="core logo" class="logo">
      </div>
      <div class="col-sm-8 text-center text-md-left">
        <h1>core</h1>
        <p>Set of components, directives and services to boost the app development with angular material 2</p>
        <p>Scroll down to see it in action!</p>
        <p class="buttons">
          <a class="btn btn-outline-primary btn-lg" href="https://github.com/angular-material-extensions/core"
             target="_blank"><i class="fa fa-github fa-lg"></i> Code on Github</a>
          <a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank"><i
            class="fa fa-book fa-lg"></i> Documentation</a>
          <a class="btn btn-outline-primary btn-lg" href="#" (click)="editOnStackBlitz()"><i
            class="fa fa-bolt fa-lg"></i> Edit on StackBlitz</a>
        </p>
      </div>
    </div>

  </div>
</div>

<section class="home">
  <div class="container">
    <button mat-raised-button color="primary" (click)="openConfirmDialog()">confirm dialog</button>
  </div>
</section>
